<p>Añadir comentario: </p>
<form method="post" action="/quizes/<%= quizid %>/comments/">
    <p><input type="text" id="comment" name="comment[texto]" value="" placeholder="Texto del comentario" /></p>
    <button type="submit">Enviar</button>
</form>